*, *:before, *:after
  box-sizing: border-box

body
  background-color: #fff
  // color: #222



@media (max-width: 768px)
  .categoriesContainer
    flex-direction: column
    align-items: flex-start

  .categoryCard
    width: 100%
    margin-bottom: 10px
